<h1>Something went wrong...</h1>
<p>Sorry, we couldn't generate a puzzle for you at this time. Possibly
the database is exhausted (in which case, why not
<a href="{% url 'learn:index' %}">teach me something</a>?) or maybe you
were just unlucky this time.</p>
<p class="links"><a href="{% url 'puzzles:index' %}">Back to puzzles</a>
<a href="{% url 'puzzles:random' %}">Random puzzle</a>
<a href="{% url 'puzzles:get' %}">New puzzle</a>
</p>